.btn {
    border: 1px solid orangered;
    color: whitesmoke;
    font-size: 20px;
}

.btn:hover {
    border: 1px solid orangered;
    background-color: rgba(255, 69, 0, 0.4
    );
}

.number {
    color: orangered;
}