.cart-total {
    width: fit-content;
    margin: 20px auto;
    padding: 5px;
    color: whitesmoke;
    font-size: 30px;
    border-bottom: 1px solid orangered;
}

.cart-total+.cart-total{
    margin-top: 10px;
}

.total-price {
    width: 300px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}