main {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
        width: fit-content;
        height: fit-content;
        margin: auto auto;
        text-align: center;
    }

    .main-header {
        margin-bottom: 30px;
        font-size: 36px;
        color: orangered;
    }
    .main-content {
        color: whitesmoke;
        font-size: 20px;
        line-height: 2.5;
    }

    .arrow {
        font-size: large;
    }
}
